
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown select:hover {background-color: white}


#tiedot{
    position: absolute;
    right: 800px;
    padding: 15px 30px 15px 30px;
    
}



